@import "stubs";

// Generic elements
.x-border-layout-ct {
    background: none;
}

.x-item-disabled {
    opacity: .5;
}

.x-unselectable,
.x-unselectable * {
    user-select: none;
    -webkit-user-select: none;  /// Safari
    -ms-user-select: none;      /// IE11 & Edge
}

// Loading mask & spinner
.loading-spinner {
    &.medium {
        @include loading-spinner(32px);
    }

    &.small {
        @include loading-spinner(16px);
    }
}

.x-axi-loading-mask {
    & .ext-el-mask {
        display: none;
    }
}

.ext-el-mask-msg {
    background: none;
    border: none;
    padding: 0;
}

.x-mask-loading {
    & div {
        line-height: normal;
        padding: 0;
        border: none;
        background: none;

        & .wrapp {
            display: flex;
            align-items: center;
            padding: 5px;
            border-radius: 2px;

            & .msg-text {
                padding: 0 3px;
                @include font-body-text(13px, 400);
            }
        }
    }
}

// Tabs
.x-tab-panel-header,
.x-tab-panel-footer {
    position: relative;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    background: none;
    border: none;

    &::after {
        position: absolute;
        width: 100%;
        height: 1px;
        content: "";
    }

    &.x-tab-panel-header::after {
        bottom: 0;
        left: 0;
        right: 0;
    }

    &.x-tab-panel-footer::after {
        top: 0;     
        left: 0;
        right: 0;
    }
}

.x-tab-panel-body {
    border: none;
}

.x-tab-scroller-left {
    top: calc(50% - 11px);
    left: 5px;  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    max-height: 22px;
    box-sizing: border-box;
    background: none;
    border: 1px solid;
    border-radius: 50%;
    transition: border-color .2s ease-in-out;  

    &::before {
        display: block;
        margin-left: -1px;
        width: 5px;
        height: 9px;
        background-image: url(../images/common/calendar-navigation-left.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 5px 9px;
        transition: opacity .2s ease-in-out;
        content: "";
    }

    &.x-tab-scroller-left-disabled {
        display: none;
    }
}

.x-tab-scroller-right {
    top: calc(50% - 11px);
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    max-height: 22px;
    box-sizing: border-box;
    background: none;
    border: 1px solid;
    border-radius: 50%;
    transition: border-color .2s ease-in-out;  

    &::before {
        display: block;
        width: 5px;
        height: 9px;
        background-image: url(../images/common/calendar-navigation-right.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 5px 9px;
        transition: opacity .2s ease-in-out;
        content: "";
    }

    &.x-tab-scroller-right-disabled {
        display: none;
    }
}

ul.x-tab-strip-top,
ul.x-tab-strip-bottom {
    padding-top: 0;
    background: none;
    border: none;
}

.x-tab-strip-top,
.x-tab-strip-bottom {
    & .x-tab-left {
        background: none;
    }

    & .x-tab-strip-inner {
        background: none;
    }

    & .x-tab-right {
        padding-left: 0;
        background: none;

        &:hover {
            opacity: 1;
        }
    }

    & .x-tab-strip-active {
        position: relative;

        & .x-tab-left {
            background: none;
        }

        & .x-tab-right {
            margin: 0;
            padding-left: 0;
            background: none;
        }
    }

    &.x-tab-strip-top {
        & .x-tab-strip-active {
            & span.x-tab-strip-text {
                padding-bottom: 4px;
            }
        }

        & .x-tab-with-icon {
            & .x-tab-right {
                padding-left: 0;
            }
        }
    }
}

ul.x-tab-strip {
    position: relative;
    display: flex;

    & li {
        position: relative;
        z-index: 1;
        float: none;
        display: flex;
        align-items: center;
        margin: 0;
        border-right-width: 1px;
        border-right-style: solid;

        & .x-tab-strip-text {
            display: inline-flex;
            @include font-body-text(13px, 400);
            
            & strong,
            & b {
                @include font-body-text(13px, 400);
            }
            
            & em {
                display: inline;
                @include font-body-text(13px, 400);

                &::before {
                    content: "\00a0|\00a0";
                }
            }
        }

        &.x-item-disabled {
            display: none;
        }
    }

    & .x-tab-with-icon span.x-tab-strip-text {
        padding-left: 0;
    }
}

.x-tab-strip .x-tab-strip-closable a.x-tab-strip-close {
    background: none;
    border: none;
    width: 16px;
    height: 16px;

    &::before {
        display: block;
        font-size: 16px;
        transition: color .2s ease-in-out;
        content: "\e000";
    }

    &:hover {
        background: none;
    }
}

// Fieldset
.x-fieldset {
    margin-bottom: 0;
    border: none;

    & .x-fieldset-header {
        @extend %fieldset-legend;
    }
}

.x-axi-section { /// Axi extension
    padding: 10px;

    & .x-axi-section-title {
        & label {
            @extend %fieldset-legend;
        }
    }

    & label.x-axi-section-title {
        @extend %fieldset-legend;
    }
}

.x-fieldset .x-axi-section {
    padding: 10px 0;
}

// Form element and item
.x-form-element {
    padding-left: 0;
}

.x-form-item {
    display: flex;
    margin-bottom: 0;

    & label {
        float: none;
    }

    & .x-form-element {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
    }
}

.x-axi-form-item-label { /// Axi extension
    @include font-body-text(13px, 400);
}

// Text field, text area
.x-form-text {
    line-height: normal;
}

.x-form-text, 
textarea.x-form-field {
    background: none;
}

.x-form-field {
    @include font-body-text(13px, 400);
}

.ext-strict .x-form-text, /// Firefox 
.ext-safari .x-form-text, 
.ext-chrome .x-form-text {
    height: auto;
    padding: 1px 3px;
    border-radius: 2px;
}

.x-small-editor .x-form-field,
.ext-strict .x-small-editor .x-form-field, /// Firefox
.ext-safari .x-small-editor .x-form-field, 
.ext-chrome .x-small-editor .x-form-field {
    @include font-body-text(13px, 400);    
}

// Numeric text field
.x-form-num-field,
.ext-strict .x-form-num-field,
.ext-safari .x-form-num-field,
.ext-chrome .x-form-num-field {
    padding: 4px 6px;
    border-radius: 2px;
    height: 20px;
    line-height: 20px;
}

// Checkbox
.x-form-check-wrap, 
.x-form-radio-wrap {
    padding: 0;
}

.x-form-check-wrap-inner, 
.x-form-radio-wrap-inner {
    display: inline-flex;
    align-items: center;
    padding: 0;
}

.x-form-check {
    background: none;
}

.x-form-check,
.x-grid3-row-checker, 
.x-grid3-hd-checker {
    position: relative;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    background: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
}

// Checked
.x-form-check-checked .x-form-check,
.x-grid3-hd-checker-on .x-grid3-hd-checker, 
.x-grid3-row-selected .x-grid3-row-checker {
    &::before {
        position: absolute;
        top: 1px;
        left: 3px;
        display: block;
        width: 4px;
        height: 6px;
        box-sizing: border-box;
        border-right-width: 1px;
        border-right-style: solid;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        transform: rotate(30deg);
        content: "";
    }
}

.x-form-cb-label {
    margin-left: 0;
    padding-left: 5px;
    box-sizing: border-box;
    @include font-body-text(13px, 400);
}

.x-form-item-label {
    @include font-body-text(13px, 400);       
}

.x-grid3-cell-inner, 
.x-grid3-hd-inner {
    padding: 0;
}

// Radio
.x-form-radio {
    width: 12px;
    height: 12px;
    margin-bottom: 0;
    background: none;
}

.x-form-radio-wrap {
    display: flex;
    align-items: center;

    & .x-form-radio {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid;
        border-radius: 50%;
    }

    &.x-form-check-checked {
        & .x-form-radio {
            &::before {
                width: 6px;
                height: 6px;
                border-radius: 50%;
                content: "";
            }
        }
    }
}

// Combo
.x-combo-list {
    padding-top: 2px;
    background: none;
    border: none;

    & .x-combo-list-inner {
        max-width: calc(100% - 2px);
        border: 1px solid;
        border-radius: 2px;
    }
}

.x-form-field-wrap {
    display: flex;
    align-items: center;

    & .x-form-field {
        padding: 4px 0 4px 6px;
        border-right-width: 0;
        border-radius: 2px 0 0 2px; 
    }

    & .x-form-trigger {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px 8px 3px;
        background: none;
        border-bottom: none;
        border-top-width: 1px;
        border-top-style: solid;
        border-right-width: 1px;
        border-right-style: solid;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-left-width: 0;
        border-left-style: solid;
        border-radius: 0 2px 2px 0;

        &::before {
            font-size: 0;
            line-height: 0;
            border-top-width: 6px;
            border-top-style: solid;
            border-right-width: 4px;
            border-right-style: solid;
            border-left-width: 4px;
            border-left-style: solid;
            transition: border-color .2s ease-in-out;
            content: "";
        }
    }   
}

.x-combo-list {
    & .x-combo-selected {
        border: none !important;
    }
}

.x-combo-list-item {
    padding: 4px 6px;
    border: none;
    @include font-body-text(13px, 400);
    cursor: pointer;
}

// Layout splitters
.x-layout-split {
    width: 2px;

    &.x-layout-split-east {
        & .x-layout-mini {
            display: none;
        }
    }
}

// Panel
.x-panel-noborder {
    & .x-panel-tbar-noborder .x-toolbar {
        padding: 0;
        border: none;
        background: none;
    }

    & .x-panel-header-noborder {
        border: none;
    }
}

.x-panel-header {
    padding: 5px;
    background: none;
    border: none;
    @include font-body-text(20px, 200, normal);
    text-align: center;
}

.x-panel-body-noheader, 
.x-panel-mc .x-panel-body {
    border: none;
}

.x-tab-panel-body {
    background: none;
}

.x-panel-body {
    background: none;
    border: none;
}

.x-panel-tl {
    display: none;
}

.x-panel-ml {
    padding: 0;
    background: none;
}

.x-panel-mr {
    padding: 0;
    background: none;
}

.x-panel-mc {
    padding: 0;
    background: none;
    @include font-body-text(13px, 400);
}

.x-panel-bl {
    display: none;
}

.x-panel-bbar .x-toolbar {
    padding: 0;
    background: none;
    border: none;
}

// Horizontal Slider
.x-slider-horz {
    position: relative;
    display: flex;
    align-items: center;
    background: none;

    &::before {
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        content: "";
    }

    & .x-slider-end {
        background: none;

        & .x-slider-inner {
            background: none;
        }
    }

    & .x-slider-thumb {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: none;
        cursor: pointer;
        z-index: 1;
    }
}

// Window
.ext-el-mask {
    opacity: 1;
    filter: alpha(opacity=100);
}

.x-window {
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
    align-items: center;
    justify-content: center;

    // Window header
    & .x-window-header {
        margin-bottom: 30px;
        max-width: 800px;
        text-align: center;
        padding: 0;
        background: none;

        & .x-window-header-text {
            padding: 0;
            @include font-title-text(40px, 200, 48px);
        }
    }

    // Window borders
    & .x-window-body {
        padding: 20px 20px 0 20px; 
        border-top-width: 1px;
        border-top-style: solid;
        border-left-width: 1px;
        border-left-style: solid;       
        border-right-width: 1px;
        border-right-style: solid;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    & .x-panel-bbar .x-toolbar > table > tbody > tr > td,
    & .x-window-bbar .x-toolbar > table > tbody > tr > td {
        &:first-child {
            padding-top: 20px;
            height: 50px;
            border-left-width: 1px;
            border-left-style: solid;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-left-radius: 3px;
        }

        &:last-child {
            padding-top: 20px;
            height: 50px;
            border-right-width: 1px;
            border-right-style: solid;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-right-radius: 3px;
        }

        &:not(:first-child):not(:last-child) {
            width: 1px;
            vertical-align: bottom;

            // Spacer between buttons
            &:not(:nth-last-child(2)) {
                padding-right: 8px;
            }
        }

        // Window action buttons        
        & .x-btn {
            & .x-btn-left,
            & .x-btn-right {
                display: none;
            }

            & .x-btn-center {
                button {
                    @extend %highlight-button;
                }
            }

            // Hover
            &.x-btn-over {              
                & .x-btn-center {
                    background: none;

                    button {
                        opacity: 1;
                    }
                }
            }

            // Main button
            &.bold {
                & .x-btn-center {
                    button {

                    }
                }

                // Hover
                &.x-btn-over {              
                    & .x-btn-center {
                        button {
                            opacity: .7;
                        }
                    }
                }
            }
        }
    }
}

.x-window-bbar {
    background: none;
    border: none;

    & .x-toolbar {
        padding: 0;
        border: none;
        background: none;
    }
}

// Components in Window
.x-window-body {
    // Tabs in Window
    & ul.x-tab-strip li.x-tab-strip-active {
        background: none;        
    }

    // Checkbox in Window
    & .x-form-check {
    }
} 

// Plain window
.x-window-dlg .x-window-body {
    padding: 20px;
}

body.x-body-masked .x-window-plain .x-window-mc {
    background: none;
}

.x-window-dlg {
    & .ext-mb-content {
        text-align: center;
    }

    & .ext-mb-text, 
    & .x-window-header-text {
        @include font-body-text(20px, 200);
    }

    // Plain window action buttons      
    & .x-panel-btns-ct .x-panel-btns .x-panel-btn-td {
        & .x-btn {
            & .x-btn-left,
            & .x-btn-right {
                display: none;
            }

            & .x-btn-center {
                background: none;
                
                button {
                    padding: 0 25px;
                    line-height: 40px;
                    box-sizing: border-box;
                    border-width: 1px;
                    border-style: solid;
                    border-radius: 21px;
                    transition: opacity .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out, color .2s ease-in-out;
                }
            }

            // Hover
            &.x-btn-over {              
                & .x-btn-center {
                    background: none;

                    button {
                        opacity: 1;
                    }
                }
            }

            // Main button
            &.bold {
                & .x-btn-center {
                    button {

                    }
                }

                // Hover
                &.x-btn-over {              
                    & .x-btn-center {
                        button {
                            opacity: .7;
                        }
                    }
                }
            }
        }
    }
}

// Menu
.x-menu {
    margin: 0;
    padding: 3px 0;
    min-width: 120px;
    background-image: none;
    border-radius: 3px;

    &.light-menu {
        display: block;
        position: relative;
        padding: 10px 25px;
        @include font-body-text(13px, 400);
        text-align: center;
        cursor: default;
    }
}

.x-menu-list-item {
    position: relative;
    padding: 0;
    border: none;
    @include font-body-text(13px, 400);

    & a.x-menu-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4px 10px;

        &.bullet {
            &::after {
                margin-left: 5px;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                content: "";
            }
        }

        // Don't show check markers for non-checked li elements
        &.x-menu-check-item {
            & .x-menu-item-icon {
                display: none;
            }
        }

        &.x-menu-item-arrow {
            flex-direction: row-reverse;
            background: none;

            & .x-menu-item-icon {
                position: static;
                margin-left: 10px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 4px 0 4px 5px;
                border-color: transparent transparent transparent #007bff;
            }
        }
    }

    &.x-menu-item-active {
        background: none;
        border: none;
    }

    &.x-menu-item-checked {
        & a.x-menu-item {
            flex-direction: row-reverse;

            &.x-menu-check-item {
                & .x-menu-item-icon {
                    position: static;
                    display: block;
                    margin-left: 10px;
                    width: 6px;
                    height: 6px;
                    background: none;
                    border-radius: 50%;
                }
            }
        }
    }
}

.x-menu-sep { 
    border-bottom: none;
}

// Ext Quick tips
.x-tip {
    & .x-tip-header {
        .x-panel-inline-icon {
            display: none;
        }
    }

    & .x-tip-body {
        padding: 10px;
        border: 1px solid;
        border-radius: 3px;
        @include font-body-text(13px, 400, 18px);     
    }
}

// Ext shadow elements (hide)
.x-shadow {
    display: none !important;
}

// Toolbar
.x-toolbar {
    display: flex;
    justify-content: center;
    background: none;

    & td,
    & span,
    & input, 
    & div, 
    & select, 
    & label {
        @include font-body-text(13px, 400);
    }

    & .x-btn {
        &.x-btn-over .x-btn-center {
            background: none;
        }
    }

    & .x-btn-click .x-btn-center, 
    & .x-btn-pressed .x-btn-center, 
    & .x-btn-menu-active .x-btn-center {
        background: none;
    }

    & .ytb-sep {
        margin: 0;
        width: 1px;
        background: none;
    }

    & .x-item-disabled {
        opacity: .5;
    }
}

// Button
.ext-gecko .x-btn button {  /// Firefox
    padding-left: 3px;
    padding-right: 3px;    
}

.x-btn {
    button {
        background: none;
        @include font-body-text(13px, 400);
        cursor: pointer;
    }
}

.x-btn-left,
.x-btn-right {
    display: none;
    background: none;
}

.x-btn-center {
    background: none;
}

// Tree
.x-tree {
    & .x-panel-body {
        background: none;
    }
}

.x-tree-node {
    @include font-body-text(13px, 400);

    & .x-tree-node-el {
        display: flex;
        align-items: center;
        padding: 0 6px;

        & a {
            flex-grow: 1;       /// IE11 does not support the flex: 1 1 0 shorthand
            flex-shrink: 1;     /// IE11 does not support the flex: 1 1 0 shorthand
            flex-basis: 0;      /// IE11 does not support the flex: 1 1 0 shorthand
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            overflow: hidden;

            & span {
                padding: 0;
                line-height: 23px;

                &:first-child {
                    display: inline-flex;
                    align-items: center;

                    &::before {
                        position: relative;
                        height: 23px;
                        line-height: 23px;
                        padding-left: 2px;
                        padding-right: 3px;
                        font-size: 32px;
                    }
                }
            }
        }

        // Hover
        &.x-tree-node-over {
            background-color: transparent;
            
            & a {
                opacity: 1;
            }
        }

        // Selected
        &.x-tree-selected {
            & a {
                & span {
                    &:first-child {
                        font-weight: 600;
                    }
                }
            }
        }

        &.x-tree-drag-append {
            & a {
                & span {
                    background: none;
                    border: none;
                }
            }
        }
    }
}

.x-tree-icon, 
.x-tree-ec-icon, 
.x-tree-elbow-line, 
.x-tree-elbow, 
.x-tree-elbow-end, 
.x-tree-elbow-plus, 
.x-tree-elbow-minus, 
.x-tree-elbow-end-plus, 
.x-tree-elbow-end-minus {
    width: 18px;
}

.x-tree-elbow-plus, 
.x-tree-elbow-minus, 
.x-tree-elbow-end-plus, 
.x-tree-elbow-end-minus {
    width: 18px;
    height: 20px;
}

.x-tree-lines,
.x-tree-no-lines {
    & .x-tree-elbow-line,
    & .x-tree-elbow,
    & .x-tree-elbow-end {
        background-image: none;
    }

    & .x-tree-elbow-plus,
    & .x-tree-elbow-end-plus {
        background-image: url(../images/common/tree-arrow-right.svg);
        background-size: 100%;
        background-position: center center;
    }

    & .x-tree-elbow-minus,
    & .x-tree-elbow-end-minus {
        background-image: url(../images/common/tree-arrow-bottom.svg);
        background-size: 100%;
        background-position: center center;
    }

}

.x-tree-node-expanded {
    .x-tree-node-icon {
        display: none;
    }
}

.x-tree-node-collapsed {
    & .x-tree-node-icon {
        display: none;        
    }
}

.x-tree-node-leaf {
    & .x-tree-node-icon {
        display: none;        
    }
}

.x-tree-root-ct .x-tree-root-node > .x-tree-node .x-tree-node-indent {
    & .x-tree-elbow-line:first-child,
    & .x-tree-icon:first-child {
        display: none;
    }
} 

// Grid panel
.x-grid3 {
    background: none;
}

.x-grid3-hd-row td,
.x-grid3-row td,
.x-grid3-summary-row td {
    @include font-body-text(13px, 400);
}

.x-grid3-row td, 
.x-grid3-summary-row td {
    padding: 0;
    line-height: 18px;

    &.x-btn-center {
        padding: 0 5px;
    }
}

.x-grid3-header {
    padding: 0;
    background: none;
}

.x-grid3-header-offset {
    padding-left: 0;
}

.x-grid3-body .x-grid3-td-checker {
    background: none;
}

.x-grid3-row {
    border: none;
    cursor: pointer;
}

.x-grid3-row,
.x-grid3-row:not(:last-child) {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.x-grid3-row-over {
    background: none;   
}

.x-grid3-body {
    & .x-grid3-row-selected {
        & .x-grid3-td-numberer, 
        & .x-grid3-td-checker, 
        & .x-grid3-td-expander {
            background: none;
        }
    }
}

.x-grid3-hd-row td {
    border: none;

    & .x-grid3-hd-inner {
        border: none;
    }
}

td.x-grid3-hd-over .x-grid3-hd-inner, 
td.sort-desc .x-grid3-hd-inner, 
td.sort-asc .x-grid3-hd-inner, 
td.x-grid3-hd-menu-open .x-grid3-hd-inner {
    background: none;
}

.x-grid3-row-alt {
    background: none;
}

.x-grid3-dirty-cell {
    background: none;
}

// Drag and drop ghost
.x-dd-drop-ok .x-dd-drop-icon,
.x-tree-drop-ok-append .x-dd-drop-icon,
.x-dd-drop-nodrop .x-dd-drop-icon {
    background: none;
}

.x-dd-drag-proxy {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 3px;

    & .x-dd-drop-icon {
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        box-sizing: border-box;
        border: 2px solid;
        border-radius: 50%;
    }

    & .x-dd-drag-ghost {
        padding: 0 0 0 5px;
        border: none;
        @include font-body-text(13px, 400);
    }

    // Checkmark icon
    &.x-dd-drop-ok,
    &.x-tree-drop-ok-append {
        & .x-dd-drop-icon {
            width: 17px;

            &::before {
                width: 3px;
                height: 5px;
                border-right: 2px solid;
                border-bottom: 2px solid;
                transform: rotate(45deg);
                content: "";
            }
        }
    }

    // Plus icon
    &.x-tree-drop-ctrlok-append {
        & .x-dd-drop-icon {
            &::before {
                position: absolute;
                width: 2px;
                height: 8px;
                content: "";
            }

            &::after {
                position: absolute;
                width: 8px;
                height: 2px;
                content: "";
            }
        }
    }

    // Forbidden icon
    &.x-dd-drop-nodrop {
        & .x-dd-drop-icon {
            &::before {
                width: 2px;
                height: 100%;
                transform: rotate(45deg);
                content: "";
            }
        }
    }
}

// Date picker + mini calendar
.x-date-picker {
    background: none;
    border: none;

    & a {
        @include font-body-text(13px, 400);
    }
}

.x-date-middle, 
.x-date-left, 
.x-date-right {
    background: none;
}

.x-date-bottom {
    padding-top: 7px;
    padding-bottom: 9px;
    background: none;

    & > div {
        height: 17px;
        line-height: 17px;
    }
}

.x-date-left {
    & a {
        float: right;
        position: relative;
        width: 13px;
        height: 13px;
        background: none;

        &::before {
            position: absolute;
            right: 4px;
            top: 2px;
            width: 5px;
            height: 9px;
            background-image: url(../images/common/calendar-navigation-left.svg);
            background-position: center center;
            background-repeat: no-repeat;
            content: "";
        }
    }
}

.x-date-middle {
    & .x-btn-left, 
    & .x-btn-right {
        display: none;      
    }

    & .x-btn-center {
        padding-left: 2px;  
    }

    & .x-btn-with-menu .x-btn-center em {
        padding: 0;
        background: none;
    }
}

.x-date-right {
    & a {
        float: left;
        position: relative;
        width: 13px;
        height: 13px;
        background: none;

        &::before {
            position: absolute;
            left: 4px;
            top: 2px;
            width: 5px;
            height: 9px;
            background-image: url(../images/common/calendar-navigation-right.svg);
            background-position: center center;
            background-repeat: no-repeat;
            content: "";
        }
    }
}

table.x-date-inner {
    margin: 0 auto;
    width: calc(26px * 7);
}

.x-date-inner { 
    & th {
        background: none;
        border: none;

        & span {
            padding: 2px;
            text-align: center;
            @include font-body-text(10px, 600);           
        }
    }

    & td {
        border: none;
    }

    & a {
        display: flex;
        justify-content: center;
        padding: 1px;
        @include font-body-text(11px, 400, 16px);

        & em {
            position: relative;
            display: flex;
            justify-content: center;
            width: 18px;
            height: 18px;
        }
    }

    & a:hover,
    & .x-date-disabled a:hover {
        background: none;
    }

    & .x-date-selected,
    & .x-date-today {
        & a {
            position: relative;
            background: none;
            border: none;

            &::before {
                position: absolute;
                top: -2px;
                left: 2px;
                right: 2px;
                display: block;
                width: 22px;
                height: 22px;
                box-sizing: border-box;
                border: 1px solid;
                border-radius: 50%;
                content: "";
            }
        }

        & span {
            font-weight: 400;           
        }
    }
}

// Year-month navigation menu
.x-date-mp {
    background: none; 
}

.x-date-mp-btns {
    background: none;

    & td {
        padding: 10px 2px;

        & button {
            min-width: 50px;
            padding: 3px 6px;
            box-sizing: border-box;
            background: none;
            border-radius: 2px;
            @include font-body-text(11px, 400);
        }
    }   
}

td.x-date-mp-month a, 
td.x-date-mp-year a {
    @include font-body-text(12px, 400, 16px);

    &:hover {
        background: none;
    }
}

td.x-date-mp-sel a {
    background: none;
    border: none;
    border-radius: 2px;
}

.x-date-mp-ybtn {
    & a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 22px;
        height: 22px;
        box-sizing: border-box;
        background: none;
        border: 1px solid;
        border-radius: 50%;

        &::before {
            width: 5px;
            height: 9px;
            content: "";
        }

        &.x-date-mp-prev::before, 
        &.x-date-mp-prev:hover::before {
            margin-left: -1px;
            background-image: url(../images/common/calendar-navigation-left.svg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 5px 9px;
        }

        &.x-date-mp-next::before,
        &.x-date-mp-next:hover::before {
            background-image: url(../images/common/calendar-navigation-right.svg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 5px 9px;
        }
    }
}

// HTML Editor
.x-html-editor-wrap {
    display: flex;
    flex-direction: column-reverse;
    border: none;

    & .x-html-editor-tb {
        border-top-width: 1px;
        border-top-style: solid;
    }

    & .x-form-textarea {
        padding: 18px;
    }
}

.x-html-editor-tb {
    height: 33px;

    // Font combo
    %font-combo {
        padding: 0 0 0 10px;
        min-height: 33px;
        line-height: 33px;
        border-top-width: 0;
        border-bottom-width: 0;
        border-radius: 0;
    }

    @at-root {
        .x-html-editor-tb .x-toolbar .x-form-text,
        .ext-safari .x-html-editor-tb .x-toolbar .x-form-text,
        .ext-chrome .x-html-editor-tb .x-toolbar .x-form-text {
            @extend %font-combo;
        }
    }

    & .x-form-arrow-trigger {
        min-height: 33px;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
        border-top-width: 0;
        border-bottom-width: 0;
        border-radius: 0;
    }

    @at-root {
        .x-axi-font-combo-list {
            &.x-combo-list {
                margin-top: -2px;
            }

            & .x-combo-list-item {
                padding: 4px 10px;
                font-size: 13px;
            }
        }
    }

    // Buttons
    & .x-btn {
        padding: 8px 7px; 

        & .x-btn-text {
            background-image: url(../images/common/html-editor-tb-sprite.png);
        }

        // Specific buttons
        &.x-edit-createlink .x-btn-text {
            width: 18px;
        }

        &.x-edit-hr .x-btn-text {
            width: 14px;
            background-position-x: -226px;
        }

        &.x-edit-bq .x-btn-text {
            width: 11px;
            background-position-x: -240px;
        }

        &.x-edit-ltr .x-btn-text {
            background-position-x: -251px;
        }

        &.x-edit-rtl .x-btn-text {
            background-position-x: -266px;
        }
    }
}